.bg {
  background: url('https://www.robinlunde.cf/static/prog/19.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  filter: brightness(0.9) blur(0.5px);
  position:absolute;
  width:100%;
  height:100%;
  z-index: -1;
}

body,h1 {
  font-family: "Raleway", sans-serif;
  color: white;
}

body, html {
  height: 100%;text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.75);
}
h1{
  opacity: 0.75;
}

.text-justify-center {
    text-align: center;
}
.text-justify-right {
    text-align: center;
}
.text-justify-left {
    text-align: center;
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .text-justify-center {
    text-align: center;
  }
  .text-justify-right {
    text-align: right;
  }
  .text-justify-left {
      text-align: left;
  }
}


.subheader {
  font-size: 1.3rem;
}

.cleanUL {
  padding-left: 0px;
  columns: 2
}
li{
  list-style: none;
}

a {
  -moz-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  -webkit-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  -ms-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  transition: color 0.25s ease, border-bottom-color 0.25s ease;
  color: inherit;
  text-decoration: none;
}
a:hover{
  color: #ffb433;
  font-weight: 200;
}

.interest {
  padding: 0 0.8em 0 0.8em;
  font-size: 1.3rem;
}

/* Icon */
.icon {
  /* Remove? */
  padding-top: 10px;
  padding-bottom: 15px;
  /* ---------------- */
  text-decoration: none;
  border-bottom: none;
  color: inherit;
  position: relative;
  -moz-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  -webkit-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  -ms-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  transition: color 0.25s ease, border-bottom-color 0.25s ease;
   }
  .icon:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-transform: none !important;
  }
  .icon > .label {
    display: none; 
}

/* Correct spacing for icons */
.space {
  padding: 0 0.8em 0 0.8em;
  font-size: 1.5rem;
}

.dropbtn {
    /*background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;*/
    border: none;
    /*display:inline;*/
    display:inline-block;
}
.dropdown:hover .dropbtn {
  color: #ffb433;
  text-decoration: underline;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    overflow:auto;
    width: 100%;
    /*background-color: #f9f9f9;*/
    min-width: 80px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.4);
    z-index: 1;
    left: 0px;
}

.dropdown-content a {
  color: white;
  /*padding: 8px 12px;*/
  font-size: 18;
  font-weight: 600;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: rgba(241, 241, 241, 0.35);  
  color: #ffb433;
  opacity: 1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.all {
  -moz-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  -webkit-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  -ms-transition: color 0.25s ease, border-bottom-color 0.25s ease;
  transition: color 0.25s ease, border-bottom-color 0.25s ease;
  color: inherit;
  text-decoration: none; 
}
.all:hover {
  border-bottom-color: transparent;
  cursor: default;
  /*text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);*/
  /*FInd color!*/
  color: #ffb433; 
}

.selected {
  /*FInd color!*/
  color: #ffb433 ;
  text-decoration: underline;
}

.float-left-in{
  float: inherit;
}

.float-right-in{
  float: inherit;
}

.text-al-center{
  text-align: inherit;
}

@media (min-width: 576px){
 .float-left-in{
    float: left;
  }
  
  .float-right-in{
    float: right;
  } 

  .text-al-center{
    text-align: center;
  }
}

table{
  margin: auto;
}